body{
    font-size: x-large; 
    text-align: center; 
    color: #0a5e84; 
    background-color: rgb(229, 198, 159);
}
p{
    font-size: xx-large; 
    color: #003249; 
    font-family: fantasy; 
    text-align: center;
}
figure{
    display: inline-block;
    margin: 5;
    padding: 0;
    text-align: center;
}
figcaption{
    font-size: smaller;
}
.center{
    text-align: center;
    margin: 0;
    width: fit-content;
}
#floating-image {
    position: absolute;
    width: 200px;
    height: auto;
    pointer-events: none;
}
.random-text{
    position: absolute;
    color: #003249;
    font-size: large;
    pointer-events: none;
}
:focus{
    outline: 2px solid blueviolet;
}